@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Software in development for Marshall University</p>
        <p>Software Engineering Fall Semester 2016</p>
        <p>Nate Miklas</p>
        <p>Ryan Dixon</p>
        <p>Adam Roberts</p>
    </div>
</div>