@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div>
    <address style="color:#079449; font-size:medium; width: 800px; height:150px; text-align:left;">
       Software in Development for Marshall University Software Engineering Fall Semester 2016
        <p></p>
       <p>Adam Roberts</p>
        <p>Ryan Dixon</p>
        <p>Nate Miklas</p>
    </address>

    
</div>